iframe {
  width: 100%;
  height: 600px;
}

.alert:not(.alert-warning) {
  top: 80px;
  padding-right: 1.25rem;
}

.nk-banner {
  display: block;
  padding: 4rem 0 2rem;
}

.jumbotron {
  background-color: #fff;
  position: relative;
}

.jumbotron img {
  max-width: 100%;
  height: auto;
  width: 29%;
}

@media screen and (max-width: 769px) {
  .jumbotron img {
    max-width: 100%;
    height: auto;
    width: 85%;
  }
  iframe {
    height: 250px;
  }
}
