iframe,
iframe[allow="geolocation"] {
  border: none !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;
}
.carousel-indicators li {
  display: none;
}
.banneroneimg {
  background-image: url(https://prod-cdn.preprod.co-vin.in/slide_1.15586b5a32fb01a4b59b.jpg);
  height: 670px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 320px) and (max-width: 768px) {
  .banneroneimg {
    height: 190px !important;
  }
}
@media (min-width: 320px) and (max-width: 768px) and (orientation: portrait) {
  .banneroneimg {
    height: 190px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .banneroneimg {
    height: 370px !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1000px) and (orientation: landscape) {
  .banneroneimg {
    height: 410px !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .banneroneimg {
    height: 520px !important;
  }
}
.imgcover {
  height: 220px;
  display: block;
  text-align: center;
}
.imgcover img {
  height: 100%;
  width: auto;
}
.titlenamescls {
  font-size: 16px;
  display: block;
  text-align: center;
}
.titlenamescls a {
  margin: 20px 0 0;
  font-size: 20px;
  color: #002060;
}
.bannerimgcontent {
  background: #001f60;
  color: #fff;
  padding: 70px 0;
  min-height: 430px;
  margin: 0 auto;
}
.bannerimgcontent .bannerinnercontent {
  width: 700px;
  display: table;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .bannerimgcontent .bannerinnercontent {
    width: 100%;
    margin: 0 auto;
  }
}
.bannerimgcontent .bannerimgblock {
  width: 250px;
  float: left;
}
.bannerimgcontent .bannerimgblock img {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .bannerimgcontent .bannerimgblock {
    float: none;
  }
}
.bannerimgcontent .bannerinfo {
  float: left;
  width: 420px;
  margin-top: 70px;
  margin-left: 30px;
}
.bannerimgcontent .bannerinfo h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 100;
}
.bannerimgcontent .bannerinfo h1 span {
  font-size: 28px;
  font-weight: 600 !important;
}
.bannerimgcontent .bannerinfo h2 {
  margin: 10px 0 0;
  color: #fdbc00;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .bannerimgcontent .bannerinfo {
    width: 100%;
    margin: 20px auto 0;
    float: none;
    padding: 10px;
  }
}
.about-img {
  text-align: Center !important;
}
.about-content p {
  font-size: 20px;
  line-height: 1.4;
  color: #5f7d95;
  padding: 0;
  margin: 0 0 20px;
  width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .about-content p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
.yellowbtn {
  background: #ffc002 !important;
  color: #001f60 !important;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
}
.about-content h5:before {
  display: none !important;
}
.about-content h5 {
  font-size: 24px;
  color: #002060;
  font-weight: 700;
  position: relative;
  display: table;
  width: 100%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .about-content h5 {
    text-align: center;
  }
  .about-content h5 .pull-left {
    float: none;
  }
}
.abotcowinlogo {
  width: 91px;
  margin-top: -4px;
  margin-left: 7px;
  cursor: pointer;
}
.howitworkblock {
  background: #fdbc00
    url(https://prod-cdn.preprod.co-vin.in/assets/images/Vectorbg.png);
  padding: 10px 0;
  color: #000;
  background-repeat: no-repeat;
  background-position: 50%;
}
.howitworkblock .container {
  margin-top: 0 auto !important;
}
.hiw-box .inner h3 {
  color: #000 !important;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.hiw-box .inner p {
  text-align: center;
  padding: 5px 35px;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
.hiw-box .inner p a {
  color: #002060;
  font-weight: 500;
  display: block;
}
.whatcovinsection {
  background: #fff !important;
  padding: 50px 0;
}
.whatcovinsection .container {
  margin: 0 auto !important;
}
.howitworkcls {
  color: #374957 !important;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.whitbtn {
  background: #fff !important;
  color: #001f60 !important;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: 700;
}
.text-centercls {
  text-align: center;
}
.stepsimg {
  height: 140px;
  width: 140px;
  margin: 0 auto 20px;
}
.covidcertificat {
  background: #fff;
  padding: 50px 0;
}
.covidcertificat .container {
  margin: 0 auto !important;
}
.certiblock {
  width: 750px;
  margin: 0 auto;
}
.block1 {
  float: left;
  margin-top: 50px;
  width: 200px;
  margin-right: 40px;
  margin-bottom: 20px;
}
.block1:last-child {
  margin-right: 0;
}
.argypt {
  padding-top: 0 !important;
}
.n-mrig {
  margin-right: 0 !important;
}
.digi-lock {
  margin-right: 30px;
}
.cvin {
  padding-top: 0 !important;
  margin-top: 45px !important;
  margin-right: 10px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .cvin {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 0;
  }
}
.sec-counter {
  padding: 30px 0 20px;
}
.sec-counter .counter-wrapper {
  max-width: 100%;
  margin: 0 auto;
}
.sec-counter .small-box {
  display: flex;
  min-height: 100%;
  align-items: center;
  padding: 0 0 0 20px;
  border-radius: 6px !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .sec-counter .small-box {
    justify-content: center;
    display: block;
    padding: 15px 0 0;
  }
}
.sec-counter .dash-box img {
  max-width: 30px;
}
.sec-counter .small-box h3 {
  color: #001a62;
  font-size: 28px;
  font-weight: 600 !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .sec-counter .small-box h3 {
    font-size: 24px;
  }
}
.sec-counter .small-box p {
  color: #5f7d95;
}
.sec-counter .small-box .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(66, 139, 202, 0.12);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .sec-counter .small-box .icon {
    margin: 0 auto;
  }
}
.sec-counter .small-box .icon span {
  transition: all 0.3s linear;
  color: #428bca;
  font-size: 34px;
}
.sec-counter .small-box .inner p {
  margin-bottom: 0 !important;
  word-break: break-all;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .sec-counter .small-box .inner p {
    margin-top: 0;
  }
}
.sec-counter .small-box .inner {
  width: 78%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .sec-counter .small-box .inner {
    width: 100%;
  }
}
.bs-section {
  padding: 50px 0;
}
.base-heading {
  color: #374957 !important;
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 30px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .base-heading {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .covidcertificat .certiblock {
    width: 100%;
    padding-top: 15px;
    margin: 0 auto;
  }
  .covidcertificat .certiblock .block1 {
    width: 100%;
    margin: 20px auto;
  }
  .covidcertificat .certiblock .block1 img {
    max-width: 160px;
  }
  .covidcertificat .certiblock .block1 .digi-lock {
    display: block;
    float: none;
    margin-right: 10px !important;
    margin-top: 20px;
  }
}
.br-bt {
  border-bottom: 1px solid #ccc;
}
.arogya-setu-btn {
  display: block;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #ffc002 !important;
  border-radius: 5px;
  max-width: 230px;
  margin: 25px 10px 0 0;
}
.arogya-setu-btn a {
  font-size: 16px;
  color: #002060;
  font-weight: 700;
}
.arogya-setu-btn span {
  font-size: 12px;
  word-spacing: -1px;
  margin-right: 5px;
  font-weight: 500;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .arogya-setu-btn {
    display: block;
    margin: 25px auto 0;
    text-align: center;
  }
}
@media only screen and (min-width: 769px) {
  .arogya-setu-btn {
    display: none;
  }
}
.map-wrapper .mainContainer {
  display: block !important;
  width: 100%;
}
.cm-link-box {
  max-width: 550px;
}
.manual-link .user-manual-link {
  margin-top: 10px;
  font-size: 21px;
  color: #002060;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 5px;
}
.manual-link .user-manual-link:hover {
  background-color: #fff;
  text-decoration: none;
}
@media only screen and (min-width: 320px) and (max-width: 350px) {
  .manual-link .user-manual-link {
    font-size: 15px;
  }
}
@media only screen and (min-width: 351px) and (max-width: 767px) {
  .manual-link .user-manual-link {
    font-size: 18px;
  }
}
.banner-register-btn {
  margin-top: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .banner-register-btn {
    display: block;
    margin: 20px auto;
    text-align: center;
  }
}
@media only screen and (min-width: 769px) {
  .banner-register-btn {
    display: none;
  }
}
.page-banner {
  position: relative;
  height: auto;
}
.page-banner .banner-image {
  width: 100%;
  height: auto;
  display: block;
}
.tutorial-block {
  max-width: 500px;
  margin: 0 auto;
}
.tutorial-block h4 {
  margin-top: 10px;
  font-size: 21px;
  color: #002060;
  font-weight: 600;
  text-align: center;
}
.tutorial-block ul {
  list-style: none;
  max-width: 350px;
  margin: 0 auto;
}
.tutorial-block ul li:last-child {
  border-right: none;
}
.tutorial-block ul li:last-child:after {
  content: none;
}
.tutorial-block ul li {
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 20px;
  display: inline-block;
  /* float: left; */
  position: relative;
}
.tutorial-block ul li:after {
  position: absolute;
  height: 20px;
  width: 2px;
  background: #374957;
  top: 12px;
  right: -10px;
}
.tutorial-block .pdf-tutorial img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.tutorial-block .pdf-tutorial span {
  font-size: 16px;
  color: #001f60;
  font-weight: 500;
  position: relative;
  top: 2px;
}
.tutorial-block .video-tutorial img {
  height: 22px;
  width: 22px;
  margin-right: 10px;
}
.tutorial-block .video-tutorial a span {
  font-size: 16px;
  color: #001f60;
  font-weight: 500;
  position: relative;
  top: 1px;
}
.vaccination-detail {
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 30px 0 15px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .vaccination-detail {
    padding: 30px 0 15px;
  }
}
.vaccination-detail .vaccine-icon-box {
  display: flex;
  border-right: 2px solid #ddd;
}
@media only screen and (min-width: 320px) and (max-width: 991px) {
  .vaccination-detail .vaccine-icon-box {
    max-width: 200px;
    margin: 0 auto 15px;
  }
}
.vaccination-detail .vaccine-icon-box .icon-image {
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #fff;
  line-height: 55px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 320px) and (max-width: 575px) {
  .vaccination-detail .vaccine-icon-box .icon-image {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .vaccination-detail .vaccine-icon-box .icon-image {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}
.vaccination-detail .vaccine-icon-box .icon-image span {
  font-size: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 575px) {
  .vaccination-detail .vaccine-icon-box .icon-image span {
    font-size: 13px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .vaccination-detail .vaccine-icon-box .icon-image span {
    font-size: 11px;
  }
}
.vaccination-detail .vaccine-icon-box .vaccine-content {
  margin-left: 5px;
}
@media only screen and (min-width: 320px) and (max-width: 991px) {
  .vaccination-detail .vaccine-icon-box .vaccine-content {
    margin-left: 8px;
  }
}
.vaccination-detail .vaccine-icon-box .vaccine-content h4 {
  font-size: 22px;
  margin: 0 0 5px;
  padding: 0;
  font-weight: 700;
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
  .vaccination-detail .vaccine-icon-box .vaccine-content h4 {
    font-size: 14px;
    margin: 0;
  }
}
@media only screen and (min-width: 361px) and (max-width: 575px) {
  .vaccination-detail .vaccine-icon-box .vaccine-content h4 {
    font-size: 18px;
    margin: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .vaccination-detail .vaccine-icon-box .vaccine-content h4 {
    font-size: 16px;
    margin: 0;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1260px) {
  .vaccination-detail .vaccine-icon-box .vaccine-content h4 {
    font-size: 18px;
  }
}
.vaccination-detail .vaccine-icon-box .vaccine-content h4 span {
  font-size: 18px;
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
  .vaccination-detail .vaccine-icon-box .vaccine-content h4 span {
    font-size: 13px;
    margin: 0;
  }
}
@media only screen and (min-width: 361px) and (max-width: 575px) {
  .vaccination-detail .vaccine-icon-box .vaccine-content h4 span {
    font-size: 15px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .vaccination-detail .vaccine-icon-box .vaccine-content h4 span {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1260px) {
  .vaccination-detail .vaccine-icon-box .vaccine-content h4 span {
    font-size: 15px;
  }
}
.vaccination-detail .vaccine-icon-box .vaccine-content p {
  font-size: 12px;
  color: #374957;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
  .vaccination-detail .vaccine-icon-box .vaccine-content p {
    font-size: 11px;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 361px) and (max-width: 575px) {
  .vaccination-detail .vaccine-icon-box .vaccine-content p {
    font-size: 11px;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .vaccination-detail .vaccine-icon-box .vaccine-content p {
    font-size: 12px;
    line-height: 16px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1260px) {
  .vaccination-detail .vaccine-icon-box .vaccine-content p {
    font-size: 12px;
    line-height: 16px;
  }
}
.icon-box1 .icon-image {
  background: #2c4e8b;
}
.icon-box2 .icon-image {
  background: #d88338;
}
.icon-box3 .icon-image {
  background: #3287b5;
}
.icon-box4 .icon-image {
  background: #56b6be;
}
.icon-box5 .icon-image {
  background: #d04f5f;
}
.icon-box6 .icon-image {
  background-color: #56a638;
}
.icon-box1 .vaccine-content h4 {
  color: #2c4e8b;
}
.icon-box2 .vaccine-content h4 {
  color: #d88338;
}
.icon-box3 .vaccine-content h4 {
  color: #3287b5;
}
.icon-box4 .vaccine-content h4 {
  color: #56b6be;
}
.icon-box5 .vaccine-content h4 {
  color: #d04f5f;
}
.icon-box6 .vaccine-content h4 {
  color: #56a638;
}
.vaccination-detail .vaccine-icon-box.icon-box6 {
  border-right: 0;
}
@media only screen and (max-width: 575px) {
  .vaccination-detail .vaccine-icon-box {
    border-right: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .vaccination-detail .vaccine-icon-box.icon-box2,
  .vaccination-detail .vaccine-icon-box.icon-box4 {
    border-right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .vaccination-detail .vaccine-icon-box.icon-box3 {
    border-right: 0;
  }
}
.cm-link-box {
  max-width: 580px;
  margin: 0 auto;
}
.cm-link-box .manual-link {
  float: left;
}
.cm-link-box .manual-link.cm-dos-link {
  margin-left: 10px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .cm-link-box {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .cm-link-box .manual-link {
    float: none;
    width: 100%;
  }
  .cm-link-box .manual-link.cm-dos-link {
    margin-top: 40px;
  }
}
.users-icon {
  background: url(/assets/images/users-icon.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: cover;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .users-icon {
    width: 16px;
    height: 16px;
  }
}
.bubble-icon {
  background: url(/assets/images/bubble-icon.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: cover;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .bubble-icon {
    width: 16px;
    height: 16px;
  }
}
.cog-icon {
  background: url(/assets/images/cog-icon.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: cover;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .cog-icon {
    width: 16px;
    height: 16px;
  }
}
.document-icon {
  background: url(/assets/images/document-icon.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: cover;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .document-icon {
    width: 16px;
    height: 16px;
  }
}
.bar-chart-icon {
  background: url(/assets/images/bar-chart-icon.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: cover;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .bar-chart-icon {
    width: 16px;
    height: 16px;
  }
}
.walkin-icon {
  background: url(/assets/images/walkin-icon.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: cover;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .walkin-icon {
    width: 16px;
    height: 16px;
  }
}
.male-icon {
  background: url(/assets/images/male-icon.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: cover;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .male-icon {
    width: 16px;
    height: 16px;
  }
}
.female-icon {
  background: url(/assets/images/female-icon.png);
  width: 22px;
  height: 22px;
  display: inline-block;
  background-size: cover;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .female-icon {
    width: 16px;
    height: 16px;
  }
}
.report-icon {
  background: url(/assets/images/report-icon.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: cover;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .report-icon {
    width: 16px;
    height: 16px;
  }
}
.icon-image span.icon-dashboard {
  font-size: 16px !important;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .icon-image span.icon-dashboard {
    font-size: 11px !important;
  }
}
.know-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  padding: 10px 0 0;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .know-more {
    padding: 0 0 0 10px;
  }
}
.know-more .know-more-link {
  border-radius: 5px;
  color: #002060;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .know-more .know-more-link {
    font-size: 14px;
  }
}
.know-more .know-more-link:hover {
  color: #ffc000;
}
.block1.pldg.umang {
  width: 100px;
  margin-right: 15px;
  margin-top: 30px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .block1.pldg.umang {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 0;
  }
}
.umang a {
  text-decoration: none;
}
.umang img {
  width: 80px;
}
.umang .umang-txt {
  padding-left: 10px;
  display: inline-block;
  font-size: 26px;
  font-weight: 600;
  color: #00599f;
}
.block1.pldg.cvin {
  width: 140px;
  vertical-align: middle;
}
